.upcoming-events{
    background-color: chocolate;
    padding-top: 17px;
    padding-bottom: 17px;
    color: white;
    font-size: larger;
    display: flex;
    justify-content: center;
    font-family: cursive;

}
.search{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.Container{
    border: 2px solid chocolate;
    box-shadow:chocolate ;
    /* border-radius: 15px; */
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(232, 173, 130);
}
.event-name{
    font-size: large;
    font-family: Georgia, serif;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 7px;
}
.event-date{
    margin-left: 10px;
    display: flex;
  
}
.eventdate{
    font-size: small;
    font-family: Georgia, serif;
    font-weight: bold;
    margin-left:7px;
}
.img{
    display: flex;
   justify-content: center;

}
.event-image{
    height: 50%;
    width: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.location{
    display: flex;
    justify-content: center;
}
.locationtext{
font-family: Georgia, serif;
 font-size: medium; 
 color: rgb(72, 72, 210);  
}
.allInformation{
    margin-top: 10px;
    font-family: Georgia, serif;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: medium;
    margin-left: 10px;
    
}
.buttonregistration{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
