 .main {
     text-align: center;
     padding-top: 40px;
 }
 .container{
    background-color: #3AAFA9;
 }

 .society-info-container {
     border: 2px solid #ccc;
     padding: 20px;
     margin: 20px auto;
     max-width: 600px;
 }

 .button {
     margin-top: 20px;
 }

 .staff {
     margin-left: 10px;
 }
.staff{
    margin-top: 10px;
    margin-left: 20px;
}
.tablemembers{
    margin-top: 20px;
}
.maindiv{
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}
.allinfo{
    margin-left: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.descrip{
    margin-left: 50px;
    color: white;
}
.bookrul{
    margin-left: 100px;
    color: white;
}
.image{
    margin-left: 20px;
}