 .main {
     text-align: center;
 }

 .society-info-container {
     border: 2px solid #ccc;
     padding: 20px;
     margin: 20px auto;
     max-width: 600px;
     /* Adjust this value based on your desired width */
 }

 .button {
     margin-top: 20px;
 }

 .staff {
     margin-left: 10px;
 }
.staff{
    margin-top: 10px;
    margin-left: 20px;
}
.tablemembers{
    margin-top: 20px;
}